<%= form_with(model: comentario, local: true) do |form| %>
  <% if comentario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comentario.errors.count, "error") %> prohibited this comentario from being saved:</h2>

      <ul>
      <% comentario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_area :nombre, id: :comentario_nombre %>
  </div>

  <div class="field">
    <%= form.label :texto %>
    <%= form.text_area :texto, id: :comentario_texto %>
  </div>

  <div class="field">
    <%= form.label :articulo_id %>
    <%= form.text_field :articulo_id, id: :comentario_articulo_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
